
                      
                        <div class="container-fluid" style="margin-top: 18%">
                            <div class="container text-center">
                              <h1 class="display-5 fw-bolder text-primary mb-2">THANK FOR THE COFFEE!!</h1>
                              <p class="lead text-black-70">YOU MAKE MY DAY WITH COFFE!</p>
                              <a type="button" class="btn btn-success" href="home">Go back to home</a>
                          
                            </div>
                          </div>
                        