<div class="card animated fadeIn">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="text-center my-2">
              <h1 class="display-5 fw-bolder text-black mb-2">Donations Page</h1>
              <p class="lead text-black-50 ">This page you can buy me a coffee</p>
            </div>
        </div>
    </div>

<!-- CHECKOUT BOTTOM -->
  <nav class="navbar ">
    <div class="container-fluid">
      <a class="navbar-brand"></a>
        <form class="d-flex">
          <button (click)="checkout()"
                class="btn btn-outline-primary">Checkout</button>
        </form>
    </div>
  </nav>
        
<!-- PRODUCTS -->
  <div class="container py-3">
    <div class="row g-5">
        <div class="col-13 col-md-7 col-lg-4" *ngFor="let product of productList| paginate: { itemsPerPage: 6, currentPage: page}">
            <div class="card-body border-start border-end mb-3">
                <img [src]="product.url" class="card-img-top">
                  <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.description}}</p>
                      <p class="card-text">${{product.price}}.00</p>
                        <button (click)="addToCart(product)" class="btn btn-primary">Donation</button>
            </div>
        </div>
        
    
<!-- SLIDEBAR -->
  <div class=" col-md-3  ">
    <h2 class="py-3 bg-light text-center">Total Price</h2>
      <div class="h3 font-weight-semibold text-center py-3">{{total | currency }}</div>
  <hr>
    <h3 class="h6 pt-4 font-weight-semibold">Product Preview</h3>
      <div class="product-info" *ngFor="let product of products; let i = index ">
        <div class="col-md-3">
          <div class="">
            <img [src]="product?.coffelogo" class="card-img-top" alt="Product" alt="" class="coffe width-30">
        </div>
      </div>
    <h5>{{product?.name}} <span> ${{product?.price}}</span></h5>
      <span class="text-muted">Product Description</span>
        <p>{{product?.buydescription}}</p>
          <div>
            <span>${{product.quantity * product?.price | number: '1.2-2'}}</span>
          </div>
                <button 
                (click)="removeCart(product)"
                type="button" 
                class="btn btn-danger mt-3">Remove from cart</button>
                <hr>
      </div>
    </div>

    <pagination-controls (pageChange)="page = $event" previousLabel="Back" nextLabel="Next"></pagination-controls>

    </div>  
  </div>
</div>
